{% extends "base.html" %}
{% load static %}

{% block content %}


    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
            <div class="text"></div>
        </div>
        <!-- ======================= Table ================== -->

            <div class="table-1">
                <div class="table-header">
                    <p><b>Packages</b></p>

                    <a href="admin_add_categories"><button class="add_new">+ Add New</button></a>
                </div>

                <div class="table-section">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 200px;">Product Name</th>
                                <th style="width: 500px;">Image</th>
                                <!-- <th>Subject</th> -->
                                <th style="width: 100px; align-items: center;">Update</th>
                                <th style="width: 100px; align-items: center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{category.heading}}</td>
                            
                                {% if category.image %}
                                    <td><img src="{{ category.image.url }}"></td>
                                {% else %}
                                    <td>Data not found</td>
                                {% endif %}

                                <td>
                                    
                                    <a href="{% url 'admin_update_categories' category.id  %}"><button><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button></a>
                                </td><td>   <a href="{% url 'admin_delete_categories' category.id  %}"><button><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
             
            </div>
            {% endblock %}
