<!doctype html>
<html lang="en">
    {%load static%}
    <head>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/vegas.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>MTL Tours and Travels</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/vegas.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/tooplate-barista.css' %}">
<!--

Tooplate 2137 Barista

https://www.tooplate.com/view/2137-barista-cafe

Bootstrap 5 HTML CSS Template

-->
    </head>
    
    <body class="reservation-page">
                
            <main>
                <nav class="navbar navbar-expand-lg">                
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
                            <!-- <img src="{% static 'images/coffee-beans.png' %}" class="navbar-brand-image img-fluid" alt="Barista Cafe Template"> -->
                            MTL Tours And Travels
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="{% url 'index' %}#section_1">Home</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="{% url 'index' %}#section_2">About</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="{% url 'category_selection' %}">Our Packages</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="{% url 'index' %}#section_4">Reviews</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="{% url 'index' %}#section_5">Contact</a>
                                </li>
                            </ul>

                            <div class="ms-lg-3">
                                <a class="btn custom-btn custom-border-btn" href="{% url 'reservation' %}">
                                    Reservation
                                    <i class="bi-arrow-up-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                
                <section class="section-padding section-bg" id="barista-team">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <h2 class="text-white">Our Packages</h2>
                            </div>
                            {% for category in categories %}
                                {% if forloop.counter0|divisibleby:4 %}
                                    </div><div class="row justify-content-center">
                                {% endif %}
                                <div class="col-lg-3 col-md-6 col-12 mb-4">
                                    <div class="team-block-wrap custom-card-height">
                                        <div class="team-block-info d-flex flex-column">
                                            <div class="d-flex mt-auto mb-3">
                                                <a href="{% url 'package_view' category.id %}">
                                                    <h4 class="text-white mb-0">{{ category.heading }}</h4>
                                                </a>
                                            </div>
                                            <!-- Add any additional information here -->
                                        </div>
                                        <div class="team-block-image-wrap">
                                            <a href="{% url 'package_view' category.id %}">
                                                {% if category.image %}
                                                    <img src="{{ category.image.url }}" class="team-block-image img-fluid" alt="">
                                                {% else %}
                                                    <img src="{% static 'placeholder_image.jpg' %}" class="team-block-image img-fluid" alt="Placeholder Image">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                
                
                
              


                <footer class="site-footer" style="background-color: #342a76;">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 col-12 me-auto">
                                <p class="text-white d-block mb-4">Where to find us?</p>

                                <strong class="text-white">
                                    <i class="bi-geo-alt me-2"></i>
                                    MTL TOURS & TRAVELS 19/272 - Thuthiyoor,
                                    CSEZ KAKKANAD ,
                                    ERNAKULAM KERALA -INDIA - 682037
                                </strong>

                                <ul class="social-icon mt-4">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook">
                                        </a>
                                    </li>
        
                                    <li class="social-icon-item">
                                        <a href="https://x.com/minthu" target="_new" class="social-icon-link bi-twitter">
                                        </a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                                <p class="text-white d-block mb-4">Contact</p>

                                <p class="d-flex mb-1">
                                    <strong class="me-2">Phone:</strong>
                                    <a href="tel: 305-240-9671" class="site-footer-link">
                                        +91 9746145768
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <strong class="me-2">Email:</strong>

                                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                        mtltoursandtravels@gmail.com
                                    </a>
                                </p>
                            </div>


                            <div class="col-lg-5 col-12">
                                <p class="text-white d-block mb-4">Opening Hours.</p>

                                <ul class="opening-hours-list">
                                    <li class="d-flex">
                                        Monday - Friday
                                        <span class="underline"></span>

                                        <strong>09:00AM — 05:00PM

                                        </strong>
                                    </li>

                                    <!-- <li class="d-flex">
                                        Saturday
                                        <span class="underline"></span>

                                        <strong>11:00 - 16:30</strong>
                                    </li>

                                    <li class="d-flex">
                                        Sunday
                                        <span class="underline"></span>

                                        <strong>Closed</strong>
                                    </li> -->
                                </ul>
                            </div>

                            <!-- <div class="col-lg-8 col-12 mt-4">
                                <p class="copyright-text mb-0">Copyright © Barista Cafe 2048 
                                    - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                            </div> -->
                    </div>
                </footer>
            </main>


  

    </body>

   <style>
    .custom-card-height {
    height: 400px; /* Adjust the height as needed */
}

   </style>
</html>
